<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="ContentFooter" />
	<f:debug>{_all}</f:debug>
	<f:debug>{data}</f:debug>

	<f:section name="content">

	<!-- theme_t3kit: Templates/ContentElements/ImageTextLink.html [begin] -->
	<f:if condition="{data.layout}">
		<f:then>
			<f:render partial="ImageTextLink/{data.layout}" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render partial="ImageTextLink/Default" arguments="{_all}" />
		</f:else>
	</f:if>
	<!-- theme_t3kit: Templates/ContentElements/ImageTextLink.html [end] -->
	</f:section>
</div>