<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="img-text-link img-btn-animate wow fadeIn animated">
    <f:if condition="{image}">
        <f:then>
            <f:for each="{image}" as="mediaItem" iteration="imageIteration">
                <f:if condition="{imageIteration.isFirst}">
                    <f:render partial="ImageTextLink/MediaType" section="image" arguments="{_all}" />
                </f:if>
            </f:for>
        </f:then>
        <f:else>
            <f:if condition="{media}">
                <f:for each="{media}" as="mediaItem" iteration="mediaIteration">
                    <f:if condition="{mediaIteration.isFirst}">
                        <f:render partial="ImageTextLink/MediaType" section="media" arguments="{_all}" />
                    </f:if>
                </f:for>
            </f:if>
        </f:else>
    </f:if>
    <div class="infos">
        <f:if condition="{data.header}">
            <h3 class="img-text-link__header">{data.header}</h3>
        </f:if>
        <f:if condition="{data.bodytext}">
            <p class="img-text-link__p">{data.bodytext}</p>
        </f:if>
        <f:if condition="{data.header_link}">
            <f:link.typolink parameter="{data.header_link}" title="{data.subheader}" class="img-text-link__link {f:if(condition: settings.linkAsBtn, then: 'btn btn-primary', else: '')}">{data.subheader}</f:link.typolink>
        </f:if>
    </div>
</div>